In [10]:
import pandas as pd
import sqlite3

In [11]:
csv_file = './data/drinks.csv'

In [12]:
df = pd.read_csv(csv_file)
df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## connect to db

In [13]:
conn = sqlite3.connect('test_database')
c = conn.cursor()