In [3]:
import pandas as pd
import numpy as np

In [12]:
a = np.array([1,2,3], dtype='int8')
a.dtype

dtype('int8')

In [8]:
s = pd.Series(a, index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [14]:
s[['a','c']]

a    1
c    3
dtype: int64

In [16]:
s[-2:]

b    2
c    3
dtype: int64

In [20]:
col1 = pd.Series(a, index=['a','b','c'])
col2 = pd.Series([4,5,6], index=['a','b','c'])
df = pd.DataFrame([col1,col2], columns=['A','B'])
df

    A   B
0 NaN NaN
1 NaN NaN