In [135]:
import pandas as pd
import numpy as np

In [136]:
# dataset_path = 'https://raw.githubusercontent.com/ProgressBG-Python-Course/JupyterNotebooksExamples/master/datasets/various/drinks.csv'
dataset_path='../datasets/drinks.csv'
df = pd.read_csv(dataset_path)
df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## Select rows/columns

In [ ]:
# select only 2 columns
df[['wine_servings','continent']]

In [ ]:
# swap column names:
# df[['country', 'beer_servings']] = df[['beer_servings','country']]
# df.head(5)

In [ ]:
#select rows:  [5 - 10], and columns: wine_servings : continent
df.loc[5:10,'wine_servings':'continent']

In [ ]:
#select country and continent from odd row numbers
df.loc[1::2, ['country','continent']]

In [ ]:
# select rows for which wine servings > 300
df[df.wine_servings > 300]

In [ ]:
# select country names for which wine servings > 300
# df[df.wine_servings > 300]['country'] # bad
df.loc[df.wine_servings > 300, 'country'] # good

In [ ]:
# set country values as index
df.set_index('country', inplace=True)
df.head(5)

In [ ]:
# TASK: select rows for index values in given interval
df.loc['Bahamas':'Bulgaria']

In [ ]:
# reset index
# df.reset_index(drop=False,inplace=True)
df.head(5)

In [ ]:
#select all rows and all columns, without 'country', 'continent'

# df.loc[:, 'beer_servings':'total_litres_of_pure_alcohol']
df.iloc[:, 1:-1]

In [ ]:
# select last 3 columns:
df.iloc[:, 1:-1]

## insert/drop columns

In [ ]:
# Insert column  named 'random' with random integers in [1..10], in the beginnig (i.e. at index 0)

rand_ints = np.random.randint(1, high=11, size=df.shape[0])

df.insert(0, 'random', rand_ints)
df.head()
# np.random.randint?

In [ ]:
# drop column 'random':
df.drop(columns='random', inplace=True)

## Useful properties and methods

In [132]:
df.shape

(193, 6)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# select country names, which 'total_litres_of_pure_alcohol' == max
mask = df.total_litres_of_pure_alcohol == df.total_litres_of_pure_alcohol.max()

df.loc[mask, ['country','total_litres_of_pure_alcohol']]
# df.loc[mask]

In [ ]:
# max by column values
# df.max(axis=0)

# max by rows values
df.max(axis=1)

In [ ]:
df.head(5)

In [ ]:
# TASK: find the max value for Bulgaria
df.loc[df.country=='Bulgaria'].max(axis=1)

In [ ]:
df.groupby('continent').wine_servings.max()

In [ ]:
null_mask = df.continent.isnull().values
df.loc[null_mask]

In [ ]:
df.sort_values(by='wine_servings', axis=0)

##